# Archivos ignorados al momento del commit

imagenesLOCAL/CarWash.jpg
imagenesLOCAL/CoffeeShop.jpg
imagenesLOCAL/electric-charge.jpg
imagenesLOCAL/Mobile/CarWash_288x192.webp
imagenesLOCAL/Mobile/coffeeShop_288x192.webp
imagenesLOCAL/Mobile/electric-charge_288x192.webp
