/*  --------------------- GENERAL --------------------- */
* {
    margin: 0;

}

body {
  background-color: #f2f2f2;
  overflow-x: hidden;
}


h2{
    text-align: center;
}

li{
    list-style: none;
}

header {
    width: 100vh;
    margin: 0;
}

/*  --------------------- EN VARIAS PAGINAS --------------------- */


/*NAVBAR */
#main_reserva{
    padding-top: 10vh;
    height: 100vh;
    background-image: url("imagenes/reserva.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navegacion {
    overflow: hidden;
    color: #f2f2f2;
    background-color: #514eff70;
    border: 1px solid #514eff5d;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: background-color 1s, color 1s, border 1s;
}

#navegacion.solid {
  /* clear: both; */
  background: #514eff; /* Solid color */
  border: 1px solid #514eff;
  color: #f2f2f2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}


.item {
    display: block;
    color: #f2f2f2;
    background: #514eff2c;
    border-radius: 4px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .item:hover {
    background: #514eff;
    backdrop-filter: blur(10px);
    
    -webkit-backdrop-filter: blur(10px);

}

.display {
    display: none;
}

.myLinks {
    display: block;
}

#logo_Menu {
    justify-content: space-between;
    display: flex;
}

#logo img {
    width: 90px;
    height: auto;
}

#config {
    margin: auto;
}

.giracion img{
    transform: rotate(360deg);
    transition: 2s;
}

.giracion1 img{
    transform: rotate(-360deg);
    transition: 2s;
}

#config img{
    width: 20px;
}

#contHamb {
    width: 70%;
    height: 40px;
    float: left;
}

.hamburger-menu {
    width: 8%;
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5.7%;
    margin-right: 7%;
    margin-left: -45%;
    transform: rotate(0deg);
    transition: 1s;
    float: right;
    
}

.line {
    width: 25px;
    height: 3px;
    background-color: #f2f2f2;
}

.menu-rotate {
    transform: rotate(90deg);
    transition: 1s;
}

/* FOOTER */
footer{
    background: #514eff; 
    margin-top: 10%;
    padding: 15px 0;
}
#logo_content{
    width: 100px;
    height: auto;
    margin: auto; 
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #f2f2f283;
}

#logo_footer{
    width: 100%;
}


.logo_info{
    margin: auto;
    width: 90%;

}

#info_contacto{
    margin: 10px auto;
    padding: 20px;
    background-color: #f2f2f283;
}

/* MAPA */
iframe{
    width: 100%;
    height: 150px;
}


.mapa{
    width:90%;
    height: 145px;
    margin: 15px auto;

}

#rights{
    text-align: center;
    font-weight: lighter;
}

/* HERO */
.hero {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hero_info{
    padding: 20px 5px;
    background-color: #1100ff99;
    color: #f2f2f2;
    width:  300px;
    height: 300px;
}

.hero_info h1{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

/* Distintos heros */
#hero_inicio {
    background-image: url("imagenes/inicio.jpg");
}
#hero_nosotros {
    background-image: url("imagenes/nosotros.jpg");
}
#hero_contacto {
    background-image: url("imagenes/contacto.jpg");
}



/* ESTA EN GENERAL YA QUE ES USADO */
.bloqueSeccion{
    width:90vw;
    margin: auto;
    background-color:#514eff;
    padding: 10px;
}
#inicioServicio {
    display: none;
}

/* ---------- ICONOS DE REDES ------------- */
.card {
    width: 45%;
    margin: auto;
    height: 20px;
    /* background-color: #f2f2f2; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

/*  --------------------- INDEX  --------------------- */


.iconoServicio{
    width: 10%;
    margin-right:5px;
}


/*  ---------------------PAGINA NOSOTROS--------------------- */
#contenedorNosotros{
    margin: 4vh auto;
    /* text-align:center;   NO PORQUE PARECE CANCION */
}
#contenedorNosotros p{
    padding: 10px;
    text-align: justify;
}

#img_nosotros{
    display: none;
}

.nosotros_img img{
    width: 100%;
}


/* ----------------- Contacto ---------------------- */
.content{
    margin-top: 5vh;
    width: 100vw;
    height: 60vh; 
}

form{
    width: 75%;
    height: auto;
    margin: auto;
    padding: 30px;
    background-color: #292929;
    color: #f2f2f2;
    box-shadow: 0 1px 20px  #0009;
}

label{
    text-shadow: 1px 1px 0.8px  #838383;
}

input,textarea{
    display: block;
    width: 100%;
    margin: 10px auto;
}

input,textarea{
    border: 0px;
    background-color: #2f2f2f;
    color: #ddd;
    border-bottom: 2px solid #8b8b8b;
    transition: border-bottom 1s, background-color 1s;
}

input:hover,textarea:hover{
    background-color: #7c7c7c;
}

input:focus-visible,textarea:focus-visible{
    outline-width: 1px;
    color: #2f2f2f;
    background-color: #ddd;
    border-bottom: 2px solid #363636;
    outline-style: none;
}
input{
    height: 20px;
}
textarea{
    height: 90px;
    resize: none;
}
.enviar_boton{
    text-align: center;
}
button{
    margin: 15px;
    font-weight: bold;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    background-color: #363636;
    color: #ddd;
    border: 0px;
    transition: color 1s, background-color 1s;
}

button:hover{
    color: #363636;
    background-color: #ddd;
}

/* Mensajes */

.alert_bad{
    margin-left: 5px;
    color: rgb(255, 0, 0);
    font-weight: lighter;
}

.alert_good{
    display: block;
    color: rgb(32, 255, 32);
    font-weight: lighter;
}


/*  --------------- RESERVA ------------------ */
#contenido_reserva{
    margin-top: 20px;
    width: 90%;
    margin: auto;
} 


/* Adaptacion para  DESKTOP*/
@media (min-width: 375px) {
    .hamburger-menu {
        width: 8%;
        margin-top: 6%;
        margin-right: 6%;
    }
}

@media (min-width: 425px) {
    .hamburger-menu {
        margin-top: 5%;
        margin-right: 2.5%
    }
    .topnav{
      padding: 0 10px;
    }
}
@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
    .display {
        display: block;
    }
    .item {
        width: 0px;
        display: inline;
    }
    #logo_Menu {
        width: 30%;
    }
    .myLinksAnchors {
        width: 70%;
        justify-content: space-between;
    }
    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 30px;
    }
    .links {
        text-align: center;
        padding: 5px 10px;
    }
}

